@font-face {
  font-family: 'SemiBold';
  src: url('../assets/fonts/JosefinSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Bold';
  src: url('../assets/fonts/JosefinSans-Bold.ttf');
}

@font-face {
  font-family: 'Regular';
  src: url('../assets/fonts/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: 'Beauty';
  src: url('../assets/fonts/IntroScriptDemo-Medium.otf');
}

::ng-deep .error-snackbar {
  background-color: rgb(180, 31, 31) !important;
  color: white;
}

::ng-deep .success-snackbar {
  background-color: rgb(52, 158, 20) !important;
  color: white;
}

::ng-deep .mat-focus-indicator {
  background-color: rgb(255, 255, 255) !important;
  color: black;
}
