<div class="background-style">
  <app-menu></app-menu>
  <h1 class="info-profile-main">My Profile</h1>
  <h2 class="info-profile">Name : {{getFirstName()}}</h2>
  <h2 class="info-profile">Second name : {{getlastName()}}</h2>
  <h2 class="info-profile">phoneNumber number : {{getMail()}}</h2>
  <h2 class="info-profile">Email : {{getphoneNumber()}}</h2>
  <div style="height: 4vw;"></div>
  <a class="button-get-started" (click)="editProfile()">Edit my profile</a>
  <a class="button-get-started" (click)="logout()">Logout</a>
</div>
