<div class="menu" *ngIf="!getIsSignedIn()">
  <a routerLink="/main-page" class="menu-item" style="margin-left: 57vw;">Home</a>
  <a routerLink="/sign-in" class="menu-item">Sign in</a>
  <a routerLink="/sign-up" class="menu-item">Sign up</a>
  <a routerLink="/contact" class="menu-item">Contact</a>
</div>

<div class="menu" *ngIf="getIsSignedIn()">
  <a routerLink="/main-page" class="menu-item" style="margin-left: 57vw;">Home</a>
  <a routerLink="/news" class="menu-item">News</a>
  <a routerLink="/contact" class="menu-item">Contact</a>
  <a routerLink="/my-profile" class="menu-item">My Profile</a>
</div>
