.news-main {
  padding: 4%;
  font-family: 'Regular';
}

.article-text {
  margin-top: 1vw;
  font-size: 1.3vw;
}

mat-chip {
  background-color: rgb(224, 219, 219) !important;
  font-family: 'Regular';
  font-size: 1vw !important;
}
